<h1>Cards#show</h1>
<p>Find me in app/views/cards/show.html.erb</p>



<% @order_items.each do |item| %>

    <h3><%= item.product.title %></h3>
    <h5><%= item.product.price %></h5>


    <%= form_for item, remote: true do |f| %>



        <%= f.hidden_field :product_id, :value => item.product.id %>
        <%= f.number_field :quantity, :value => item.quantity.to_i %>
        <%= f.submit "Update Card "%>

        <%= link_to "Remove Items", order_item_path(item), method: :delete, remote: true%>

    <% end %>
    <h2>Subtotal: <%= item.total %></h2>

<% end %>




<h3>Your current card value has a subtotal of: <%= current_order.subtotal %></h3>